.containerDiv{
    display: grid;
    grid-template-columns: 350px 650px 350px;
    background-color: aqua;
    padding-bottom: 5px;
}
.containerDiv2{
    background-image: url("https://wallpaperaccess.com/full/8111956.jpg");
    background-repeat: no-repeat;
    background-size: 1250px;
    padding-bottom: 300px;
    padding-top: 50px;
    padding-right: 5px;
}
#form{
    text-align:left;
    margin-left:850px;
    box-shadow: 2px 5px 5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 35px;
    background-color:darkblue;
}
footer{
    background-color: aqua;
}